<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Coreless_Motor.SLDPRT">
  <link
    name="Coreless_Motor.URDF">
    <inertial>
      <origin
        xyz="0.19521 -0.00967769999999999 0.21384"
        rpy="0 0 0" />
      <mass
        value="0.001122" />
      <inertia
        ixx="4.2547E-08"
        ixy="-2.1679E-12"
        ixz="-1.0032E-11"
        iyy="1.0159E-08"
        iyz="-1.56069999999801E-12"
        izz="4.2619E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Coreless_Motor.URDF/meshes/Coreless_Motor.URDF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://Coreless_Motor.URDF/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Coreless_Motor.URDF/meshes/Coreless_Motor.URDF.STL" />
      </geometry>
    </collision>
  </link>
</robot>